# {{- $files := .Files.Glob "dashboards/*.json" }}
# {{- if $files }}
# {{- range}}

# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: {{ printf "%s-%s" $dashboardName | trunc 63 | trimSuffix "-" }}
#   namespace: default
#   labels:
#     grafana_dashboard: "1"
#     app.kubernetes.io/name: grafana
#     app.kubernetes.io/instance: myprom 
#     app.kubernetes.io/managed-by: Helm
# data:
#     {{ $dashboardName }}.json: | {{ $.Files.Get $path | indent 4 }}
# {{- end }}


apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards
  namespace: {{ .Release.Namespace }}
  labels:
    grafana_dashboard: "1"
data:
  main-dashboard-a3.json: |
{{ .Files.Get "dashboards/main-dashboard-a3.json" | indent 4 }}