{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-custom-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: kube-prometheus-stack-alertmanager
    release: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m
      smtp_smarthost: "smtp.gmail.com:587"
      smtp_from: "{{ .Values.alertmanager.smtp.user }}"
      smtp_auth_username: "{{ .Values.alertmanager.smtp.user }}"
      smtp_auth_password: "${SMTP_PASSWORD}"
      smtp_require_tls: true

    route:
      receiver: "email-notifications"
      group_by: ["alertname"]
      group_wait: 10s
      group_interval: 5m
      repeat_interval: 1h
      
    receivers:
      - name: "email-notifications"
        email_configs:
          - to: "{{ .Values.alertmanager.recipient }}"
            send_resolved: true
            headers:
              Subject: "[ALERT] {{ "{{" }} .GroupLabels.alertname {{ "}}" }} - {{ .Values.app.name }}"
{{- end }}