{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-smtp-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    app: kube-prometheus-stack-alertmanager
    release: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  smtp-password: "{{ .Values.alertmanager.smtp.password }}"
  smtp-user: "{{ .Values.alertmanager.smtp.user }}"
{{- end }}