{{- if and .Values.prometheus.enabled .Values.monitoring.enabled }}
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager-config
  namespace: {{ .Values.monitoring.namespace }} 
  labels:
    release: {{ .Release.Name }}
spec:
  route:
    receiver: "alerts-email"
    groupBy: ["alertname"]
    groupWait: 10s
    groupInterval: 1m
    repeatInterval: 1h
  receivers:
    - name: "alerts-email"
      emailConfigs:
        - to: {{ .Values.alertmanager.recipient | quote }}
          from: {{ .Values.alertmanager.smtp.user | quote }}
          smarthost: "smtp.gmail.com:587"
          authUsername: {{ .Values.alertmanager.smtp.user | quote }}
          authPassword:
            name: alertmanager-email-secret
            key: password
          requireTLS: {{ .Values.alertmanager.smtp.requireTLS }}
{{- end }}