apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.app.metricsPort }}"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: {{ .Values.app.name }}
          image: "{{ .Values.app.image }}:{{ .Values.app.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: {{ .Values.app.port }}
            - name: metrics
              containerPort: {{ .Values.app.metricsPort }}
          env:
            - name: APP_PORT
              value: "{{ .Values.app.port }}"
            - name: METRICS_PORT
              value: "{{ .Values.app.metricsPort }}"
            - name: MODEL_HOST
              value: "http://model-service:{{ .Values.model.port }}"
