app:
  name: app
  port: 8080
  image: "ghcr.io/doda2025-team21/app"
  tag: "latest"
  host: sms.local

model:
  name: model-service
  port: 8081
  image: "ghcr.io/doda2025-team21/model-service"
  tag: "latest"
