app:
  name: app
  port: 8080
  image: "ghcr.io/doda2025-team21/app"
  tag: "latest"
  service:
    type: ClusterIP
    nodePort: "" # optional; only used when type is NodePort or LoadBalancer
  ingress:
    className: nginx
    hosts:
      stable: sms.local
      preview: ""  # optional pre-release/experiment host; leave empty to disable

model:
  name: model-service
  port: 8081
  image: "ghcr.io/doda2025-team21/model-service"
  tag: "latest"

app-config:
  welcomeMessage: "Hello from ConfigMap!"
  dummyValue: "12345"