---
# ansible/ctrl.yml
# Controller-specific setup (empty skeleton for now; Step 13+ will go here)

- name: Controller specific configuration
  hosts: ctrl
  become: true

  tasks:
    
    #-----------------------------
    # Step 13: kubeadm initialization
    #-----------------------------

    - name: Check if cluster is already initialized
      ansible.builtin.stat:
        path: /etc/kubernetes/admin.conf
      register: check_cluster_init

    # added ignore to ignore kubeadm's pre-flight resource allocation checklist
    - name: Initialize Kubernetes control plane if not initialized
      ansible.builtin.command: >
        kubeadm init
        --apiserver-advertise-address=192.168.56.100
        --node-name ctrl
        --pod-network-cidr=10.244.0.0/16
        --ignore-preflight-errors=NumCPU
      when: not check_cluster_init.stat.exists
    
    #-----------------------------
    # Step 14: Setup kubectl for vagrant user and host
    #-----------------------------

    # 0755 means owners have full access (read, write, execute) whereas groups and other have
    # read and execute access
    - name: Ensure .kube directory exists
      ansible.builtin.file:
        path: /home/vagrant/.kube
        state: directory
        owner: vagrant
        group: vagrant
        mode: "0755"
      when: check_cluster_init.stat.exists

    # 0644 means owners have read & write access, groups/others have only read access
    - name: Copy admin.conf into kube config
      ansible.builtin.copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/vagrant/.kube/config
        owner: vagrant
        group: vagrant
        mode: "0644"
        remote_src: true
      when: check_cluster_init.stat.exists

    # - name: Copy admin.conf to host machine
    #   ansible.builtin.copy:
    #     src: /etc/kubernetes/admin.conf
    #     dest: /vagrant/admin.conf
    #     mode: "0644"
    #     remote_src: true
    #   when: check_cluster_init.stat.exists
    - name: Copy admin.conf to host machine
      ansible.builtin.fetch:
        src: /etc/kubernetes/admin.conf
        dest: ./kubeconfig
        flat: yes

    #-----------------------------
    # Step 15: Install Flannel CNI (Pod Network)
    #-----------------------------

    - name: Download Flannel manifest
      ansible.builtin.get_url:
        url: https://github.com/flannel-io/flannel/releases/download/v0.26.7/kube-flannel.yml
        dest: /home/vagrant/kube-flannel.yml
        owner: vagrant
        group: vagrant
        mode: '0644'

    - name: Patch Flannel to use eth1 interface
      ansible.builtin.replace:
        path: /home/vagrant/kube-flannel.yml
        regexp: '^(\s*)args:\s*$'
        replace: '\1args:\n\1  - --iface=eth1'

    - name: Apply Flannel manifest
      ansible.builtin.command: kubectl apply -f /home/vagrant/kube-flannel.yml
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      register: flannel_apply
      changed_when: "'created' in flannel_apply.stdout or 'configured' in flannel_apply.stdout"
      # become: false

      # Become false ensures we run as the 'vagrant' user, utilizing the config we set up in Step 14
    

